body {
  background-color: $color4;
} 

.wrapper {
  display: block;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  // background-color: #eee;

  @include breakpoint(sm) {
    max-width: 540px;
  }

  @include breakpoint(md) {
    max-width: 740px;
  }

  @include breakpoint(lg) {
    max-width: 960px;
  }

  @include breakpoint(xl) {
    max-width: 1140px;
  }

}